<!DOCTYPE html>
<html lang="en">
<title>Crypto Currency Machine Learning</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-btc,.fa-btc {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/bitcoin" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">BTC</a>
    <a href="/ethereum" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">ETH</a>
    <a href="/doge" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">DOGE</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/bitcoin" class="w3-bar-item w3-button w3-padding-large">BTC</a>
    <a href="/ethereum" class="w3-bar-item w3-button w3-padding-large">ETH</a>
    <a href="/doge" class="w3-bar-item w3-button w3-padding-large">DOGE</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Crypto Currency Predictor</h1>
  <a href="/bitcoin"><button href="btc.html" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Bitcoin</button></a>
  <a href="/ethereum"><button href="eth.html" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Ethereum</button></a>
  <a href="/doge"><button href="doge.html" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Doge</button></a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>About</h1>
      <h5 class="w3-padding-32">Using machine learning, we have developed two different models that can determine if a certain crypto currency is a good investment. The first model will look at historical price data to decide wether a currency falls in to one of four buckets. The buckets are "Strong Buy", "Buy", "Hold" and "Weak Sell". The second model has the ability to predict future crytpo currency prices, ten days into the future.</h5>

      <p class="w3-text-grey">Our models uses a few different metrics to be able to determine if a currency is a good investment. Our first model uses historical open and close prices, collected on a daily basis and the percentage change within the day..</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-btc w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-btc w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge"></h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">

 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
